body {
    background: url("images/main_background.e8d7bf888bff.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: arial;
    margin: 0px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: block;
    text-align: center;
    color: red;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none;
}